In [1]:
# Set directories 
import os
import sys
src_dir = os.path.join(os.getcwd(), '..', 'src')
sys.path.append(src_dir)
data_dir = os.path.join(os.getcwd(), '..', 'data')

# Import Functions
import pandas as pd
from d00_utils.example_func import greet

With the following code I want to prepare the training set so that I can fit a first simple model. First I have to correctly structure the training set





Prior concat train
Left join orders 
orders_and_items = User, order_id,item, order_nr, more info 

train_order_user = train, group by user, max order  
max_order_item = Group by user Id, product get max order 
Train order user left join max order item if max order == train order 
Train and prior order group by user item max (order)

In [2]:
order_product_prior = pd.read_csv(os.path.join(data_dir,"01_raw/order_products__prior.csv"))
order_product_train = pd.read_csv(os.path.join(data_dir,"01_raw/order_products__train.csv"))
orders = pd.read_csv(os.path.join(data_dir,"01_raw/orders.csv"))
products = pd.read_csv(os.path.join(data_dir,"01_raw/products.csv"))
aisles = pd.read_csv(os.path.join(data_dir,"01_raw/aisles.csv"))
departments = pd.read_csv(os.path.join(data_dir,"01_raw/departments.csv"))

In [3]:
# union all all info about which product in which order 
order_product_train['set'] = 'train'
order_product_prior['set'] = 'prior'
order_product_gesamt = pd.concat([order_product_prior,order_product_train])

# exclude test orders
orders = orders.loc[orders.eval_set != "test",:]

# reduce order to orders of only a small subset of users to test 
orders = orders.loc[orders.user_id <= 100,:]

# reduce order_product_gesamt to only include these few users (inner join)
# add additional order information to order_product_gesamt 
order_product_gesamt = order_product_gesamt.merge(orders.loc[:, ['order_id','user_id','order_number'] ],how="inner",on = "order_id")

* order_product_train bzw. order_product_prior contain the products (product_Id) which were in a specific order
* orders contains more specific information about each order
    * which user
    * which set the order is in (train, test, prior) 
    * information about the timing

get all orders of customers

In [ ]:
order_product_gesamt.head(2)

In [ ]:
orders.head(2)

Create Trainset

* For each item a user purchased get the last order it was included
*

In [4]:
def get_last_order_of_item(df):
    # df is a dataframe of all product orders excluding the test orders
    # for each user and all of his ordered items: what was the last order an item was ordered in
    last_order_item = df.groupby(['user_id','product_id']).agg( {'order_number': 'max'} ).reset_index()
    # get the order ids for each order of each user 
    id_of_each_order = df.loc[:,['user_id','order_number','order_id']].drop_duplicates().reset_index(drop=True)
    last_order_item = last_order_item.merge(id_of_each_order,how="inner",on = ['user_id','order_number'])
    last_order_item = last_order_item.rename(columns={'order_number': 'last_order_number', 'order_id': 'last_order_id'})
    return(last_order_item)

In [97]:
# Get the relevant orders from the train set
train = order_product_gesamt.loc[order_product_gesamt['set'] == "train",:]

# reduce to only the columns needed 
train = train.loc[:,['product_id','user_id','set',"reordered"]]

# get the last order of each item 
last_order_item = get_last_order_of_item(order_product_gesamt)
         
# join train information to last order information (to know which orders were ordered in train order the first time)
train = last_order_item.merge(train,how='left',on = ['product_id','user_id'])

# exclude all orders which were ordered the first time in the train order
train['reordered'] = train.reordered.fillna(value=2)
train = train.loc[train.reordered >= 1]

# create target and drop unnecessary columns
train['target'] = train['set'].apply(lambda x: 0 if pd.isnull(x) else 1)
train = train.drop(columns=['set','reordered'])
train = train.rename(columns={'last_order_number': 'order_number', 'last_order_id': 'order_id'})

# drop users and items which havent done an order in the train order
targets_in_train = train.groupby('user_id').agg({'target':'sum'}).reset_index()
targets_in_train = targets_in_train.loc[targets_in_train.target > 0]

train = train.merge(targets_in_train,how='inner', on ='user_id')

In [98]:
def get_item_frequency(train,order_product_gesamt): 
    orders_per_item = order_product_gesamt.loc[order_product_gesamt.set == 'prior'].groupby(
        ['user_id','product_id']).size().reset_index(name='user_item_order_freq')
        
    train = train.merge(orders_per_item,how = 'left',on = ['user_id','product_id'])
    return(train)

In [99]:
train = get_item_frequency(train,order_product_gesamt)

In [151]:
#orders.head(40)
train.loc[ (train.user_id == 100) & train.target == 1 ]

Empty DataFrame
Columns: [user_id, product_id, order_number, order_id, target, user_item_order_freq]
Index: []

In [145]:
    
    orders['order_days_cumsum'] = orders.groupby(
    'user_id')['days_since_prior_order'].transform(pd.Series.cumsum)
    orders['order_days_cumsum'] = orders.order_days_cumsum.shift(periods=1).fillna(value=0)

In [143]:
orders = orders.sort_values(by=['user_id','order_number'],ascending=False)

In [100]:
def get_time_to_last_order(train,orders):
    # for every user,item get the last order before the train order
    last_order_pre_train = get_last_order_of_item(order_product_gesamt.loc[order_product_gesamt.set == "prior",])

    # for each order calculate the distance in days to the train order 
    orders['order_days_cumsum'] = orders.groupby(
    'user_id')['days_since_prior_order'].transform(pd.Series.cumsum)
    orders['order_days_cumsum'] = orders.order_days_cumsum.shift(periods=1).fillna(value=0)
    
    # join the information about 
    last_order_pre_train = last_order_pre_train.merge(orders.loc[:,['order_id','order_days_cumsum']],how='left',
                          left_on = ['last_order_id'],right_on = ['order_id'] )

    last_order_pre_train = last_order_pre_train.loc[:,['user_id','product_id','order_days_cumsum']]

    train.merge(last_order_pre_train,how = 'left',on = ['user_id','product_id'])

   user_id  product_id  order_number  order_id  target  user_item_order_freq
0        1         196            11   1187899       1                    10
1        1       10258            11   1187899       1                     9
2        1       13032            11   1187899       1                     3
3        1       25133            11   1187899       1                     8
4        1       26088            11   1187899       1                     2

In [60]:
train.loc[(train.user_id == 2) & (train.last_order_number == 15),]

,user_id,product_id,last_order_number,last_order_id,set,reordered,target
53,2,5450,15,1492625,train,1.0,1
55,2,7963,15,1492625,train,1.0,1
61,2,16589,15,1492625,train,1.0,1
64,2,22559,15,1492625,train,1.0,1
65,2,22825,15,1492625,train,1.0,1
66,2,22963,15,1492625,train,1.0,1
68,2,24852,15,1492625,train,1.0,1
72,2,32792,15,1492625,train,1.0,1
73,2,33957,15,1492625,train,1.0,1
76,2,41787,15,1492625,train,1.0,1
77,2,45066,15,1492625,train,1.0,1
78,2,45613,15,1492625,train,1.0,1